# Using SQL in Notebooks with ipython-sql

---

## Imports

In [1]:
# IMPORTS
import pandas as pd
import numpy as np

# SQL IMPORTS
# import sqlalchemy
import pandas

# ENV IMPORTS
import os
from dotenv import load_dotenv

load_dotenv()

True

## Load SQL Module

In [2]:
%load_ext sql

## Connect to Local PostgreSQLDatabase

In [3]:
user = os.getenv("db_user")
password = os.getenv("db_password")


database = "DVD_Rental"


connection_string = f"postgresql://{user}:{password}@localhost/{database}"
    
%sql $connection_string

## Query Database

In [4]:
%%sql
    
SELECT *
FROM film
LIMIT 3;

 * postgresql://postgres:***@localhost/DVD_Rental
3 rows affected.

[(133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5"),
 (384, 'Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia', 2006, 1, 5, Decimal('4.99'), 49, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'wonder':2"),
 (8, 'Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 2006, 1, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5")]

## Saving Query to CSV on Desktop

In [8]:
%%sql

COPY (
SELECT film_id,
        title,
        description
FROM film
LIMIT 3
) TO 'C:/Users/Oscar Ko/Desktop/sql_query.csv' (FORMAT csv);

 * postgresql://postgres:***@localhost/DVD_Rental
3 rows affected.

[]